        body {
            margin: 0;
            padding: 0;
        }

        header {
            width: 100%;
            margin: 0 auto;
            padding: 10px 0;
        }

        #map {
            min-height: 75vh;
            z-index: 10;
        }

        /* Legend */
        #legend {
            position: absolute;
            bottom: 130px;
            right: -438px;
            z-index: 401;
        }

        main {
            position: relative;
            width: 100%;
        }
        

         /* Meteo Donner espace entre l'etiquette et le texte */
         .label div {
            text-align: center;
            width: 100px;
            position: relative;
            left: -50%;
            top: -10px;
            text-shadow: 0px 2px 1px rgba(255, 255, 255, 0.85);
            font-size: 16px;
            font-weight: bold;
        }

        .fondfluid {
            background-color: #FAAB4E;
        }

        .textequebec {
            color: #0c58a9;
        }

        #infos {
            height: 100px;
            width: 200px;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 401;
            background: white;
            padding: 1em;
        }

        .btn {
            border: none;
            color: white;
            padding: 3px;
            font-size: 50px;
            cursor: pointer;
            box-shadow: none !important;
        }

        .btn:hover {
            color: #136ED1;
        }

        .ville:hover {
            color: #ffffff;
        }

        .btn:focus {
            outline: none;
            box-shadow: none;
        }

        #query {
            position: absolute;
            bottom: 55px;
            right: 15px;
            z-index: 1000;
            background: white;
            padding: 1em;
            font-size: 0.9em;
        }

        #query select {
            font-size: 0.9em;
        }

        @media screen and (max-width: 766px) {

            nav {
                border-top: 2px solid #ffffff;
            }

            /* Legend */
            #legend{
                bottom: 130px;
                right: -440px;
            }

            #query {
                bottom: 55px;
            }
    }
